.main-section-login{
    display: flex;
    flex-direction: column;
}

.label-1{
    margin-top: 40px;

    font-size: 16px;
}

.label {
    font-size: 16px;
}

.input{
    border-radius: 5px;
    border: 1px solid #DDDBDB;
    padding: 10px;
}

.title-login{
    margin-bottom: 60px;
}

.main-login {
    padding: 60px;
}

.header-login{
    background-color: black;
    height: 90px;
}

.link-login{
    font-size: 16px;
    font-size: small;
}

.list-link-login{
    margin-top: 30px;
}