.forms-request-maintenance{
    display: flex;
    flex-direction: column;
}

.container-form-line1 {
    display: flex;
    flex-direction: row;
    
    margin-bottom: 20px;
}


.input-forms-line1{
    width: 104px;
    height: 25px;
}

.form-line1 {
    flex-direction: column;
}

.input-text {
    width: 100%;
    margin-bottom: 20px;
}
