* {
    font-family: 'Quicksand', sans-serif;
}

:root {
    --azul-marinho-escuro: #132235;
    --azul-claro: #6DDAD3;
    --cinza: #EEEBEB;
    --color1: #04bc64 ;
    --color2: #7dfcbf;
    --color3: #04944b;
    --color4: #6c6c6c;
    --color5: #a7a7a7;
}

.container {
    padding-left: 3%;
    padding-right: 3%;
}

.l-header{
    background-color: black;
    grid-area: header;

    height: 81px;

    display: flex;

    align-items: center;
    justify-content: space-between;
    
}

.title-header {
    font-size: 16;
    font-weight: bold;
    color: white;
}

body{
    display: grid;

    grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";

    grid-template-columns: 1fr;

    grid-row-gap: 10px;
}

.logo {
    width: 159px;
    height: 39px;
}

.dropbtn{
    cursor: pointer;

    background-color: transparent;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown-content{
    position: absolute;
    min-width: 180px;


    background-color: #f1f1f1;

    display: none;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a:hover {
    background-color: #ddd
}
    
.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
}

.dropdown-content li {
    padding: 10px;
}

.show {
    display: block;
}

.l-main{
    grid-area: main;
    padding-top: 60px;
    padding-bottom: 60px;
    max-height: 400px;
    overflow: auto;
}


.l-footer{
    background-color: black;
    grid-area: footer;
    height: 125px;

    position: relative;
    bottom: 0;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

h1{
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 30px;
}

h2{
    padding-top: 30px;
    padding-bottom: 18px;

    font-weight: 700;
    font-size: 1.5em;
}

h3{
    font-weight: 500;
    font-size: 1.3em;
}

h4{
    font-size: 1em;
    font-weight: 500;

    padding-top: 30px;
}

.container-cards{
    display: grid;

    grid-template-areas: 
        "card-1 card-2"
        "card-3 card-4";

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 146px 146px;
}

.container-cards-1 {
    background-color:; 
    grid-area: card-1;

    display: flex;
    flex-direction: column;
    align-items: center

}

.container-cards-2 {
    background-color:; 
    grid-area: card-2;
    
    display: flex;
    flex-direction: column;
    align-items: center
}

.container-cards-3 {
    background-color:; 
    grid-area: card-3;   
    
    display: flex;
    flex-direction: column;
    align-items: center
}

.container-cards-4 {
    background-color:; 
    grid-area: card-4;

    display: flex;
    flex-direction: column;
    align-items: center
}

.card-button{
    border-radius: 323232320px;
    border: none;

    width: 100px;
    height: 100px;
}

.button-login{
    border-radius: 2px;
    border: none;

    padding: 18px;
    margin-top: 60px;

    background-color: #04bc64;
    color: white;
    font-weight: 700;
}

.testeDashboard {
    width: 400px;
}

.chart_div {
    display: flex;
    flex-direction: column;
}

.container-column-forms {
    display: flex;
    flex-direction: column;
}

.label-forms-request {
    padding-bottom: 4px;
    font-weight: lighter;
    font-size: 16px;
}

.input-generalInformation {
    border-radius: 5px;
    border: 1px solid #DDDBDB;
    padding: 5px;
}

/* Estilo da modal */
.modal {
    display: none; /* Esconder a modal por padrão */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Estilo do conteúdo da modal */
.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
}

/* Estilo do botão de fechar */
.close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 28px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}